body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

button {
  margin: 5px;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  background-color: #4f46e5;
  color: white;
  transition: 0.3s;
}

button:hover {
  background-color: #4338ca;
}
