body {
    font-family: Arial;
    margin: 20px;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid #000;
    padding: 6px;
}

input {
    padding: 4px;
    width: 98%;
}

.error {
    background: #ffb3b3;
}

#gridTable td {
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
